.header {
    border-bottom: 1px solid $borderColor;
    background: $primaryBcgColor;

    @media screen and (min-width:768px) {
            position: relative;
            height: 80px;
        }
           
    @media screen and (max-width: 767px) {
      
        padding-top: 10px;
        padding-bottom: 10px;
       }
    
    @media screen and (min-width: 1200px) {
       
            display: flex;
            align-items: center;
        }

    &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    }
}

.header__logo {
    @extend %logo;
    color: $logoColor;

    &--accent {
        color: $accentColor;
    }

@media screen and (min-width: 480px) {
       font-size: 24px;
    line-height: 1.17;
    }

@media screen and (min-width: 768px) {

    font-size: 24px;
    line-height: 1.17;
    }
}
@media screen and (min-width: 1200px) {
    .header__logo {
    font-size: 26px;
    line-height: 1.2;
    }
}