.header {
    border-bottom: 1px solid $borderColor;
    
    @media screen and (min-width:768px) {
            position: relative;
            height: 80px;
        }
           
    @media screen and (max-width: 767px) {
      
        padding-top: 10px;
        padding-bottom: 10px;
       }
    
    @media screen and (min-width: 1200px) {
       
            display: flex;
            align-items: center;
        }

    &__container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    }
}

.header__logo {
    @extend %logo;
    color: $logoColor;
    font-size: 24px;
    line-height: 1.17;

        &--accent {
            color: $accentColor;
        }

}
@media screen and (min-width: 1200px) {
    .header__logo {
    font-size: 26px;
    line-height: 1.2;
    }
}