.hero {
    @extend %section;
    text-align: center;
    padding: 200px 0;
    
    &__overlay {
        margin-left: auto;
        margin-right: auto;
        max-width: 1600px;
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/hero.jpg);
        
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &__title {
        margin: 0 auto 30px;
        max-width: 696px;
        color: $primaryWhiteColor;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
    &__button {
        @extend %button;
        display: inline-block;
        min-width: 200px;
        padding: 8px 24px;
    }
}