.header__logo {
    @extend %logo;
    color: $logoColor;

    &--accent {
        color: $accentColor;
    }
}
@media screen and (min-width: 480px) {
    .header__logo {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 1.17;
    }
}
@media screen and (min-width: 768px) {
    .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    font-size: 24px;
    line-height: 1.17;
    }
}
@media screen and (min-width: 1200px) {
    .header__logo {
    padding-top: 26px;
    padding-bottom: 25px;
    font-size: 26px;
    line-height: 1.2;
    }
}