.filter {
    @extend %section;
    background-color: $primaryWhiteColor;

    &__container {
        @extend %container;
    }
    &__list {
        display: flex;
        justify-content: center;
        margin-bottom: 34px;
        gap: 8px;
    }
    &__button {
        @extend %button;
        background-color: $tertiaryBcgColor;
        color: $titleColor;
        padding: 6px 22px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;

        transition: background-color 250ms $cubicBezier, 
        color 250ms $cubicBezier, box-shadow 250ms $cubicBezier;
    
        &:hover,
        &:focus {
            background-color: $accentColor;
            color: $primaryWhiteColor;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
}

