$titleColor: #212121;
$textColor: #757575;
$accentColor: #2196F3;
$logoColor: #000000;
$primaryBcgColor: #F5F5F5;
$secondaryBcgColor: #2F303A;
$tertiaryBcgColor: #F5F4FA;
$primaryWhiteColor: #FFFFFF;
$borderColor: #ECECEC;
$borderCardsColor: #EEEEEE;
$iconColor: #AFB1B8;
$overlayColor: rgba(33, 150, 243, 0.9);

$borderRadius: 4px;

$cubicBezier: cubic-bezier(0.4, 0, 0.2, 1);